/*-- VARIABLES --*/
$opacity-dark: 16%;
$opacity-light: 26%;

/*-- TRANSITIONS & ANIMATIONS --*/
.scale {
  &-enter-active {
    @apply transition duration-200 ease-in-out;
  }

  &-leave-active {
    @apply transition duration-150 ease-out;
  }

  &-enter-from,
  &-leave-to {
    @apply scale-75 transform opacity-0;
  }

  &-enter-to,
  &-leave-from {
    @apply scale-100 transform opacity-100;
  }
}

.slide {
  &-enter-active {
    @apply transition duration-300 ease-in-out;
  }

  &-leave-active {
    @apply transition duration-200 ease-out;
  }

  &-enter-from,
  &-leave-to {
    @apply translate-x-5 opacity-0;
  }

  &-enter-to,
  &-leave-from {
    @apply translate-x-0 opacity-100;
  }
}

/*-- MIXINS --*/
@mixin background-pattern($url, $isDark: false) {
  &::after {
    content: '';
    @if $isDark {
      opacity: $opacity-dark;
    } @else {
      opacity: $opacity-light;
    }
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: $url;
    background-repeat: repeat;
    animation-name: fade-in;
    animation-duration: 1s;
  }
}

/*-- GLOBAL STYLES --*/
.prose {
  h2 a,
  h3 a {
    @apply no-underline;
    &:hover {
      @apply underline decoration-wavy decoration-0 decoration-secondary-600 dark:decoration-secondary-300;
    }
  }

  code {
    &::before,
    &::after {
      content: ""
    }
  }
  
  .highlight {
    @apply text-secondary-600 dark:text-secondary-500;
  }
}

.light {
  body {
    @include background-pattern(url('/images/pattern-light.png'), false);
  }
}

.dark {
  body {
    @include background-pattern(url('/images/pattern-dark.png'), true);
  }
}